<div class="container">      
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <span>
                  Kokan
                </span>
              </a> 
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
              </button>               
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style=" margin-left: 200px;">
                    <li class="nav-item1" > <a href="#home">Trang chủ</a> </li>
                    <li class="nav-item1"><a href="#products">Sản phẩm</a></li>
                    <li class="nav-item1"><a href="#about">Giới thiệu </a></li>
                    <li class="nav-item1"><a href="#event">Sự kiện</a> </li>
                </ul>
                <div class="user_option-box">           
                    <a href="index2.html">
                      <i class="fa-solid fa-user" aria-hidden="true"></i>
                    </a>                            
                    <a href="">
                      <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </a>
                    <sup><img src="/assets/3.png" alt="" width="45px" style="margin-left:-52px ;"></sup>
                    <a href="">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                  </div>                       
            </div>
        </div>
    </nav>
</div>
